
.footer {

    background-image: url("../assets/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    min-height: 100vh;

    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.experience__container-social__container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.social__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 145px;
}


.social__links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}



.social__title {

font-family: "PoppinsRegular";
font-weight: 400;
font-style: normal;
font-size: 20px;
line-height: 108%;
letter-spacing: 0%;
color: #fdfdfd;

}



.instagram-logo, .facebook-logo, .twitter-logo {
    width: 20px;
    height: 20px;
}

.logos-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 100px 60px 15px;
}

.bootom-text {
font-family: "BenguiatBold";
font-weight: 700;
font-style: normal;
font-size: 226px;
line-height: 1;
letter-spacing: 0%;
color: #B9B9B9;
opacity: 0.4;

margin:0;
margin-top: auto;

white-space: nowrap;
width: 100%;
position: relative;
overflow: hidden;
}


.bootom-text-wrapper {
  overflow: hidden;
  width: 100%;
}

.bootom-text-track {
  display: flex;
  width: max-content;
  animation: scrollText 30s linear infinite;
}

.bootom-text-track h1 {
  font-size: 120px;
  white-space: nowrap;
  margin-right: 80px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

/* ANIMATION */

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.bootom-text-wrapper:hover .bootom-text-track {
  animation-play-state: paused;
}