
.footer {

    background-image: url("../assets/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    min-height: 100vh;

    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.experience__container-social__container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.social__title {

font-family: "PoppinsRegular", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
line-height: 108%;
letter-spacing: 0%;

}