
/* MAIN */

.main {

    background-image: url("../assets/2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    min-height: 100vh;
    
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}

.main__container {
    max-width: 1100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


 /* CITIES CONTAINER */

.cities__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cities__container-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cities-container-p {

    font-family: "PoppinsRegular";
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}

.cities__container-button {

    background: transparent;

    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 108%;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(255, 255, 255, 0.9);

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    width: fit-content;
}

.cities__container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.cities__container-card {
    display: flex;
    flex-direction: column;
    gap: 20px;


    width: 350px;
}

.city-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.city-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
    padding: 0 8px;
}

.city-name {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}

.city-ticket {
     font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}


/* AWARDS CONTAINER */

.awards__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

.awards-logo__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.netflix-logo-award {
    width: 80px;
    height: auto;
}

.clio-award-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.clio-description {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}

.clio-logo {
    width: 100px;
    height: auto;
}

.fever-logo {
    width: 80px;
    height: auto;
}


.comments__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    justify-content: space-between;
}

.comment__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
}

.nbc-logo {
    width: 40px;
    height: auto;
}

.comment {

    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}

/* THANKS CONTAINER */
.thanks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
}

.thanks-message {
    font-family: "PoppinsRegular";
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}

.cities-experience {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.city-experience {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #fdfdfd;
}