/* Page */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    
}


.page {
  max-width: 1400px;
  margin: 0 auto;

  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  
  
}