/* Importações Estilo Blocos */

@import url('../vendor/normalize.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/footer.css');



/* Estilo global */

* {
    scroll-behavior: smooth;
}
