/* Importações Estilo Blocos */

@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/footer.css');



/* Estilo global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


* {
    scroll-behavior: smooth;
}
