/* Importações Estilo Blocos */

@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/footer.css');



/* Estilo global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


* {
    scroll-behavior: smooth;
}



/* ===== RESPONSIVIDADE ===== */


/* ========================= */
/*        TABLET (<=1024px)  */
/* ========================= */

@media (max-width: 1024px) {

  .header__card, .main__container {
    padding: 0 40px;
    gap: 60px;
  }

  .cities__container-cards {
    gap: 40px;
  }

  .comments__container {
    flex-wrap: wrap;
    justify-content: center;
  }

}





/* ========================= */
/*        MOBILE (<=768px)   */
/* ========================= */

@media (max-width: 768px) {

  /* ===== HEADER ===== */

  .header__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 340px;
  }

  .header__card-name,
  .header__card-content {
    width: 100%;
    align-items: center;
  }

  .header__card-content {
    text-align: center;
  }

  .header__card-description {
    text-align: center;
    font-size: 28px;
  }

  /* ===== MAIN ===== */

  .main__container {
    flex-direction: column;
    align-items: center;

  }

  .cities__container-description {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .cities__container-cards {
    flex-direction: column;
    align-items: center;
  }

  .comments__container {
    flex-direction: column;
    align-items: center;
  }

.thanks-message {
    text-align: center;
  }  

  /* ===== FOOTER ===== */

  .experience__container-social__container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .social__container {
    align-items: center;
  }

}


/* ========================= */
/*     MOBILE SMALL (<=480px) */
/* ========================= */

@media (max-width: 480px) {

  .main__container,
  .header__card,
  .cities__container,
  .thanks__container {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.netflix-logo {
  width: 70px;
  position: absolute;
  top: 5px;
  right: 10px;
  
}